@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Arvo', sans-serif;
}

.nav-aside {
    min-width: 150px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}
